a {
  color: #3d8498;
}
.row {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monday {
  background-color: #6ab7b7;
  margin-left: -15px;
  margin-right: -15px;
}
.tuesday {
  background-color: #58a3ab;
  margin-left: -15px;
  margin-right: -15px;
}
.wednesday {
  background-color: #3d8498;
  margin-left: -15px;
  margin-right: -15px;
}
.thursday {
  background-color: #276b88;
  margin-left: -15px;
  margin-right: -15px;
}
.friday {
  background-color: #17597d;
  margin-left: -15px;
  margin-right: -15px;
}
